<!DOCTYPE html>
<html>
<head>
	<title>First webpage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono&display=swap" rel="stylesheet">
  <style>
    body {
	font-family: 'Noto Sans', sans-serif;
	
 	background-color: #e2bcbc;
	
}
.button {
  padding: 15px 25px;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #7700ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #5c5b5b;
}

.button:hover {background-color: #c6a5e0}

.button:active {
  background-color: #41ff47;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: black;
}
h1, h2, h3, h4,p {
	font-family: 'Roboto Mono', monospace;
}

.quote {
	font-style: italic;
}
.container {
	max-width: 840px;
	margin: 0 auto;
}
.intro {
	text-align: center;
}
.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}
.i-am, .i-like {
	text-align: center;
	text-decoration: none

}
.about-list {
	list-style: none;
	padding: 0;
}
.projects-heading {
	text-align: center;	
}
.projects-grid {
	display: grid;
	grid-template-columns: 64% 36%;
}
.projects-grid-2 {
	display: grid;
	grid-template-columns: 100% ;
}
.project-image {
	border-radius: 20px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
	transition: all ease-in-out .2s;

}

.project-image:hover {
	filter: brightness(.75);
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}

.project-image-wrapper {
	justify-self: center;
	padding: 5%;
	position: relative;
}

.project-image-wrapper:hover > h4 {
	visibility: visible;
}

.project-image-wrapper > h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	visibility: hidden;
	z-index: 2;
	transition: all ease-in-out .2s;
}
.column {
	  flex: 33.33%;
	  height: 200px;
	  padding: 10px;
	  margin: 5px;
	  background-color: #cccccc;
	  text-align: center;
	}
.links-and-contact {
	display: grid;
	grid-template-columns: 30% 70%;
}
.links {
	justify-self: center;
}
.links-list {
	list-style: none;
	padding: 5px;
}
.profile-picture {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
	transition: all ease-in-out .2s;
}
.profile-picture:hover {
	box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
}
@media (max-width: 480px) {
	.about-grid {
		grid-template-columns: 100%;
	}
}
@media (max-width: 650px) {
	.projects-grid {
		grid-template-columns: 100%;
	}
	.links-and-contact {
		grid-template-columns: 100%;
	}
  
}
  </style>
</head>
<body >
	
	<div class="container">
		<div class="intro">
			<img class="profile-picture" src="{{url_for('static', filename='123.jpg')}}" alt="" />
			<h1>PHURINAT KAEWRAT</h1>
			<h2>Nickname : Phuri</h2>
			<h3>Age : 18</h3>
			<h3>Artificial Intelligence Engineer (AI) </h3>
			<h3>student At Songkla university</h3>
			<p class="quote">{{ Pause and ponder }}</p>
		</div>
		<div class="about-grid">
			<div class="i-am">
				<h3>I am</h3>
				<ul class="about-list">
					<li>- newbie python</li>
					<li>- A hobby cook</li>
				</ul>
			</div>
			<div class="i-like">
				<h3>I like to</h3>
				<ul class="about-list">
					<li>- Meet new people</li>
					<li>- Play guitar</li>
					<li>- Eat Icecream</li>
				</ul>
			</div>
		</div>
		<div class="about-grid">
			<div class="i-like">
				<h3>My Education</h3>
				<ul class="about-list">
					<li>- Saengthong 2016-2022</li>
					<li>- Songkla university since 2022</li>
				</ul>
			</div>
				<div class="i-like">
					<h3 >Links Contact to me</h3>
						<ul class="about-list">
						<li>
							<a href="https://www.facebook.com/phurinat.kaewrat.9/">My face book profile</a>
						</li>
						<li>
							<a href="https://www.instagram.com/ph_rinat/">My instragram</a>
						</li>
						<li>
							<a href="https://gitlab.com/PPPHURI">My Gitlab</a>
						</li>
						</ul>
				</div>
			</div>
		</div>
		<div>
			<h2 class="projects-heading">My Room</h2>
			<div class="projects-grid-2">
				<div class="project-image-wrapper">
					<h4 style="color: rgb(255, 255, 255);">Friend</h4>
					<img class="project-image" src="{{url_for('static', filename='111.png')}}" alt=""/>
				</div>
			</div>
			<h2 class="projects-heading">My Activity</h2>
			<div class="projects-grid">
				<div class="project-image-wrapper">
					<h4 style="color: rgb(255, 252, 252);">Watch Anime</h4>
					<img class="project-image" src="{{url_for('static', filename='Blue-Lock-มังงะ.webp')}}" alt=""/>
				</div>
				<div class="project-image-wrapper">
					<h4>Running</h4>
					<img class="project-image" src="{{url_for('static', filename='hombre-practica-ejercicio-actividad-correr_24640-55185.webp')}}" alt=""/>
				</div>
			</div>
		</div>
	</div>
		<div class="i-like">
    	<p >LET LOG IN AND SIGN YOUR INFORMATION.</p>
		</div>
      	<br>
		<div class="i-like">
      <form action="{{ url_for('accounts.login') }}">
      <button class="button" >log in</button>
    	</form>
	</div>
      <p></p>
      <br>
			<div>
			</div>
		</div>
	</div>
</body>
</html>