<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
<style>
html,
body {
  height: 100%;
  background-color: #e2bcbc;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
h1, h2, h3, h4,p,a,label {
	font-family: 'Roboto Mono', monospace;  
}

.button {
  border-radius: 4px;
  background-color: #6200ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 298px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #5c11e7;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

.button:active {
  background-color: #ffffff;
  box-shadow: 0 5px #fffefe;
  transform: translateY(4px);
}
.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>

  <body >
    <div class="container">

<div class="text-center">
<main class="form-signin w-100 m-auto">
  <form action="{{ url_for('accounts.do_login') }}" method="POST">
    {{ form.hidden_tag() }}
    <img class="mb-4" src="https://www.psu.ac.th/img/logos/psu_th.png" alt="" width="300">
    <h1 class="h3 mb-3 fw-large" style="color: #000000;">Please sign in and let's start</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" style="color:rgb(255, 255, 255);"> Remember me
      </label>
    </div>
    <button type="submit" class="button"><span>Sign in</span></button>
  </form>
  <div class="card_info">
    <label></label>
    <p style="color:rgb(0, 0, 0)">Not registered? <a href="{{ url_for('accounts.register') }}" text="fw-large">Create an account</a></p>
    </label>
  </div>
</div>
  {% if request.args | length > 0 %}
    <div  class="alert alert-danger" role="alert" style="margin-top: 10px;">
      <ul>
      {% for k, v in request.args.items() %}
        <li><b>{{ k }}: </b> {{ v }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

</main>
</div>

    </div>
  </body>
</html>
